@model VideoStore.WebClient.ViewModels.CheckOutViewModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out</h2>



<p>Thankyou @Model.UserName for shopping at video store </p>
<p>Your order has been submitted, and will be delivered to @Model.Address in a few days.</p>
