@model VideoStore.WebClient.ViewModels.InsufficientStockViewModel

@{
    ViewBag.Title = "InsufficientStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insufficient Stock</h2>

There was insufficient stock for @Model.ItemName . Please modify your cart content and try again.

