
@{
    ViewBag.Title = "ErrorUpdatingUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error Updating User Details</h2>

<p>Your attempt to update your account details failed, please try again.</p>